h1 {
    color:rgb(255, 60, 0);
    background-color: midnightblue;
font: size 16px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;
font-style: italic;
text-align: center;
text-decoration: dashed;
box-shadow: 56px 43px 160px 0px rgba(0,0,0,0.78);
-webkit-box-shadow: 56px 43px 160px 0px rgba(0,0,0,0.78);
-moz-box-shadow: 56px 43px 160px 0px rgba(0,0,0,0.78);
text-shadow: 1px 2px 19px rgba(0,0,0,1);
}
h2 {
   color:rgb(255, 60, 0);
    background-color: midnightblue;
font: size 16px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold; 
font-style: italic;
text-align: left;
text-decoration: dashed;
box-shadow: 56px 43px 160px 0px rgba(0,0,0,0.78);
-webkit-box-shadow: 56px 43px 160px 0px rgba(0,0,0,0.78);
-moz-box-shadow: 56px 43px 160px 0px rgba(0,0,0,0.78);
text-shadow: 1px 2px 19px rgba(0,0,0,1);
}   
 .container {
    width: 100%;
    background-color: midnightblue;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;align-items: center;
}
button{
    width: 100px;
    padding: 100px;
    background-color: midnightblue;
    border: none;
    color: aliceblue;
}
#box {
    background-color: midnightblue;

}
body{
    margin: 0;
    padding: 0;
  }
  .btn{
    border: 1px solid #3498db ;
    background: midnightblue;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "roboto";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    
  }
  
  

    
    





 
